<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Wall of sheep</title>
    <meta name="description" content="Wall of sheep"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Wallofsheep">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="images/logo.png">
    <link rel="shortcut icon" sizes="196x196" href="images/logo.png">
    <!-- style -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/app.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link rel="stylesheet" href="css/barrager.css" type="text/css"/>
</head>
<body class="dark">
<div class="app" id="app">
    <!-- content -->
    <div id="content" class="app-content box-shadow-z0" role="main">

        <div class="app-footer">
            <div class="p-a text-xs">
                <div class="text-center text-muted">
                    &copy; Copyright <strong>Pax.Mac Team</strong> <span
                            class="hidden-xs-down">- Wall of sheep v1.0</span>
                    <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
                </div>
            </div>
        </div>

        <div ui-view class="app-body" id="view">
            <div class="padding">
                <div class="box">
                    <div class="box-header">
                        <h2 class="text-center"># Can I Get The Pas***ord?</h2>
                        <small class="text-center">Below are the newest <code><%= lists.length %></code> sheep we just
                            catched for
                            dinner now.
                        </small>
                    </div>
                    <table class="table table-hover b-t">
                        <thead>
                        <tr>
                            <!--<th>#ID</th>-->
                            <th>Account</th>
                            <th>Password</th>
                            <th class="text-center">Cookie</th>
                            <th>Client</th>
                            <th>Server</th>
                            <th>Domain</th>
                            <th>Protocol</th>
                            <th>Ether</th>
                        </tr>
                        </thead>
                        <tbody id="pwd-wall">
                        <% lists.forEach(function(el, index) { %>
                        <% if (el.password || el.cookies) { %>
                        <tr>
                            <!--<td>-->
                            <!--<%= index %>-->
                            <!--</td>-->
                            <td>
                                <% if (el.login) { %>
                                <%= (el.login).substr(0, 20) %>
                                <% } %>
                            </td>
                            <td>
                                <% if (el.password) { %>
                                <%= (el.password).replace(/[a-g1-6]/g, "*") %>
                                <% } %>
                            </td>
                            <td class="cookie" data-container="body" data-toggle="tooltip"
                                data-placement="top" title="<%= el.cookies || null %>">
                                <%= el.cookies || null %>
                            </td>
                            <td><%= el.sIP %>:<%= el.sPort %></td>
                            <td><%= el.dIP %>:<%= el.dPort %></td>
                            <td><%= el.domain %></td>
                            <td><%= el.protocol %></td>
                            <td><%= el.shost %></td>
                        </tr>
                        <% } %>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/jquery.storageapi.min.js"></script>
<script src="js/config.lazyload.js"></script>
<script src="js/ui-load.js"></script>
<script src="js/ui-jp.js"></script>
<script src="js/ui-include.js"></script>
<script src="js/ui-scroll-to.js"></script>
<script src="js/app.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/jquery.barrager.min.js"></script>

<script>
    var socket = io.connect("http://localhost:3000");
    socket.on("new-sheep", function (d) {
        var infoArr = ["<tr>"],
            numEle = $(".count-num"),
            num = parseInt(numEle.html()) + 1;

        if (d.password || d.cookies) {
            if (d.password) {
                d.password = (d.password).replace(/[a-g1-6]/g, "*");
            }
            var cookie = d.cookies || null;

            infoArr.push("<td>" + d.login || "" + "</td>");
            infoArr.push("<td>" + d.password || "" + "</td>");
            infoArr.push('<td class="cookie" data-container="body" data-toggle="tooltip"\
            data-placement="top" title="' + cookie + '">' + cookie + '</td>');
            infoArr.push("<td>" + d.sIP + ":" + d.sPort + "</td>");
            infoArr.push("<td>" + d.dIP + ":" + d.dPort + "</td>");
            infoArr.push("<td>" + d.domain + "</td>");
            infoArr.push("<td>" + d.protocol + "</td>");
            infoArr.push("<td>" + d.shost + "</td>");
            infoArr.push("</tr>");

            $("#pwd-wall").prepend(infoArr.join(""));
            numEle.html(num);

            // 密码弹幕显示
            if (d.password) {
                var item = {
                    img: "images/heisenberg.png",
                    info: d.password,
                    close: true,
                    speed: 13,
                    color: "#fff",
                    old_ie_color: "#000000"
                }
                $("body").barrager(item);
            }
        }
    });


    $(".cookie").tooltip();
</script>

</body>
</html>